.App {
  text-align: center;
}

.bg {
  background-image: url("https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyNTAxMDlfMjA1%2FMDAxNzM2NDA1MTEyODI3.3hf6zuK8l7NqhWPjm5qDK6LMaW2KjPajOUni5SlTWssg.yBJJO_G8kM_xMoMKQC7q7qFP32yAuoow-6XFduWUCCwg.JPEG%2F1209asKakaoTalk_20250109_152322724_12.jpg&type=a340");
  width: 200px;
  height: 350px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
